<button onclick="window.toggleAnswers()">Toggle Answers</button>
<br />
<br />
<br />

<script>
  let answersVisible = false;
  window.toggleAnswers = function () {
    const answers = document.getElementsByClassName('answer');
    for (var i = 0; i < answers.length; i++) {
      const answer = answers[i];
      if (!answersVisible) {
        answer.style.display = 'block';
      } else {
        answer.style.display = 'none';
      }
    }
    const noAnswers = document.getElementsByClassName('no-answer');
    for (var i = 0; i < noAnswers.length; i++) {
      const noAnswer = noAnswers[i];
      if (!answersVisible) {
        noAnswer.style.display = 'none';
      } else {
        noAnswer.style.display = 'block';
      }
    }
    answersVisible = !answersVisible;
  };
</script>

<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-zie: 24px;
  }
  input {
    font-size: 24px;
  }
  button {
    font-size: 24px;
  }
  h2 {
    margin: 4px 0px;
  }
  h3 {
    margin: 4px 0px;
  }
  h4 {
    margin: 4px 0px;
    color: blue;
  }
  .answer {
    display: none;
  }
</style>
